{% extends "base.html" %}

{% block content %}

<div class="main">
    <h1 id="">Signup to newsletter</h1>
    <p>Want to stay up to date with whats happening with the PCwareRUs? Then subscribe to our newsletter and get regular updates on the best discounts!
        <br>(You only get a confirmation email. You're not actually subscribed to a newsletter.)
    </p>

    <form id="newsletter-form" class="form" action="{% url 'newsletter' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="signup-name">Name:</label>
            <input type="text" id="signup-name" name="name" required>
        </div>
        

        <div class="form-group">
            <label for="signup-email">Email:</label>
            <input type="email" id="signup-email" name="email" required>
        </div>

        <div id="">
            <input type="submit" value="Subscribe" id="signup-btn" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}