footer {
    @include row-layout-centered;

    width:100%;
    padding:3rem 1rem;
    gap:2rem;
    align-items: center;
    background-color: $main-color;
    color:$text-color;

    ul {
        @include reset-list;

        a {
            color:$text-color;
        }
    }
}