header {
    display: flex;
    flex-direction: column;
    width:100%;

    #header-menu {
        display:flex;
        flex-direction: column;
        padding:1rem 2rem 1rem 2rem;
        align-items: center;
        width:100%;
        top:0;
        left:0;
        background-color: $main-color;
        color:white;
        justify-content: space-between;

        #header-logo {
            height:5rem;

            img {
                height:100%;
            }
        }
    
        #header-search {
            position: relative;
            display: flex;
    
    
            .search-input {
                width: 100%;
                border: 2px solid $inverted-color;
                border-right: none;
                padding: 5px;
                border-radius: 5px 0 0 5px;
                outline: none;
                color: $inverted-text-color;
            }
              
              .search-btn {
                width: 40px;
                border: 1px solid $inverted-color;
                background: $inverted-color;
                text-align: center;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;
                transition: 0.3s;
            }
              .search-btn:hover {
                transition:0.3s;
                background-color:$secondary-color;
            }
        }
    }

    #category-links {
        background-color: $secondary-color;
    
            @include row-layout-centered;
            flex-direction: row;
            width:100%;
            // font-size:1.5rem;
            color:$text-color;
    
        a {
            display: flex;
            transition: 0.3s;
            padding:1rem;
        }
    
        a:hover {
            cursor: pointer;
            transition: 0.3s;
            color:$inverted-text-color;
            background-color:$text-color;
        }
    }

    @media only screen and (min-width: 900px) {
        #header-menu {
            flex-direction: row;
        }
        #header-user {
            order:3;
        }
    }
}