@import "variables";
@import "mixins.scss";
@import "./reset.scss";
@import "./header.scss";
@import "./cart.scss";


a {
    text-decoration: none;
    color:inherit;
}





body {
    @include col-layout-centered;
    width:100%;
}



footer {
    @include row-layout-centered;

    width:100%;
    padding:3rem 1rem;
    gap:2rem;
    align-items: center;
    background-color: $main-color;
    color:$text-color;

    ul {
        @include reset-list;

        a {
            color:$text-color;
        }
    }
}

// .btn {
//     padding:0.25rem 0.5rem;
//     transition:0.3s;
//     border-radius:5px;
//     border:none;
// }

// .btn:hover {
//     cursor: pointer;
//     transform: scale(1.05);
//     transition:0.3s;
// }

// .btn-primary {
//     transition:0.3s;
//     color:black;
    
//     background-color: $inverted-color;
    
// }

// .btn-primary:hover {
//     cursor: pointer;
    
//     background-color: rgb(255, 166, 0);
// }

// .btn-danger {
//     color:white;
//     background-color: rgb(192, 0, 0);
// }

// .btn-danger:hover {
//     background-color: rgb(109, 0, 0);
// }

// .btn-success {
//     background-color: rgb(0, 177, 0);
// }

// .btn-success:hover {
//     background-color: green;
// }

.main {
    @include col-layout-centered;
    padding:5rem 0.5rem;
    min-height:calc(90vh - 10rem);
}

.text-main {
    max-width: 80rem;
}

.address-fields {
    .form-group {
        margin:1rem;
    }
}

.progresses {
    position: relative;
    width:clamp(10rem, 90vw, 80rem);
    margin: auto;
}

.progresses ul {
    list-style: none;
    /* border: 1px solid red; */
    padding: 0;
}

.progresses ul li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:3px;
    background-color: #f0f0f0;
    z-index: 200;
    position: relative;
}

.progresses ul li.blue {
    background-color: $main-color;
}

.progresses ul li.green {
    background-color: green;
}

.progresses ul li::after {
    position: absolute;
    top: 35px;
    left: -4rem;

    width: 10rem;
    text-align: center;
}

#step-1::after {
    content: "Cart overview";
}

#step-2::after {
    content: "Addresses";
}

#step-3::after {
    content: "Payment";
}

.progresses .progress {
    height: 0.8rem;
    width: 100%;
    top: 33px;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.product-item {
    @include col-layout-centered;
    color:black;
    text-decoration: none;
    width:clamp(10rem, 90vw, 20rem);
    padding:0.5rem;
    transition:0.3s;

    img {
        @include col-layout-centered;
        width:100%;
    }
}

.product-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:0.3s;
}

#category-main {
    @include row-layout-centered;
    padding:5rem 0.5rem;
    gap:3rem;
    min-height:calc(90vh - 10rem);

    aside {
        padding:1rem;
        border:1px solid black;
    }

    .item-container {
        @include row-layout-wrap;
        gap:3rem;

        .item {
            @include col-layout-centered;
            border:2px solid black;
            padding:2rem;
            border-radius: 5px;
            transition: 0.3s;

        }
        .item:hover {
            cursor: pointer;
            transition: 0.3s;
            transform: translateY(-3px);
        }
    }
}

#product-detail-main {
    @include col-layout-centered;

    #product-overview {
        @include row-layout;

        #product-images {
            @include col-layout-centered;

            img {
                width:clamp(2rem, 90vw, 30rem);
            }
        }

        #product-details {
            @include col-layout-centered;

            #product-details-cart {
                @include row-layout;
                justify-content: space-between;
                align-items: center;
                gap:3rem;
            }
        }
    }

    #review-summary {
        @include row-layout;

    }

    #review-list {
        @include col-layout-centered;


    }
    
}

#address-step-main {
    

    .form-user-address-container {


        input[type="radio"] {
            display: none;

        }

        input[type="radio"]:checked + .address-option {
            border:2px solid blue;
        }
    }
}

.hidden {
    display:none;
}

