@import "variables";
@import "mixins.scss";
@import "./reset.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./cart.scss";


a {
    text-decoration: none;
    color:inherit;
}





body {
    @include col-layout-centered;
    width:100%;
}






.main {
    @include col-layout-centered;
    padding:5rem 0.5rem;
    min-height:calc(90vh - 10rem);
    width: clamp(0rem, 100vw, 80rem);
    gap: clamp(1rem, 5vw, 4rem);
}

.text-main {
    max-width: 80rem;
}

.address-fields {
    .form-group {
        margin:1rem;
    }
}

.progresses {
    position: relative;
    width:clamp(10rem, 90vw, 80rem);
    margin: auto;
}

.progresses ul {
    list-style: none;
    /* border: 1px solid red; */
    padding: 0;
}

.progresses ul li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:3px;
    background-color: #f0f0f0;
    z-index: 200;
    position: relative;
}

.progresses ul li.blue {
    background-color: $main-color;
}

.progresses ul li.green {
    background-color: green;
}

.progresses ul li::after {
    position: absolute;
    top: 35px;
    left: -4rem;

    width: 10rem;
    text-align: center;
}

#step-1::after {
    content: "Cart overview";
}

#step-2::after {
    content: "Addresses";
}

#step-3::after {
    content: "Payment";
}

.progresses .progress {
    height: 0.8rem;
    width: 100%;
    top: 33px;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 10px;
}


.item-container {
    @include row-layout-wrap;
    justify-content: center;
    gap:3rem;

    .product-item {
        @include col-layout-centered;
        justify-content: center;
        border:1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
        background-color: white;
        padding:1rem;
        border-radius: 5px;
        transition: 0.3s;
        width:15rem;
        color:black;
        text-decoration: none;
        gap:1rem;

        .item-description {
            @include col-layout-centered;
            width:100%;
        }

        img {
                @include col-layout-centered;
                width:100%;
        }

    }
    .product-item:hover {
        cursor: pointer;
        transition: 0.3s;
        transform: translateY(-3px);
    }
}

#category-main {
    @include row-layout-centered;
    padding:5rem 0.5rem;
    gap:3rem;
    min-height:calc(90vh - 10rem);

    aside {
        padding:1rem;
        border:1px solid black;
    }


}

#address-step-main {
    

    .form-user-address-container {


        input[type="radio"] {
            display: none;

        }

        input[type="radio"]:checked + .address-option {
            border:2px solid blue;
        }
    }
}

.hidden {
    display:none;
}

