@import "variables";
@import "mixins.scss";
@import "./reset.scss";
@import "./header.scss";
@import "./cart.scss";


a {
    text-decoration: none;
    color:inherit;
}





body {
    @include col-layout;
    width:100%;
    font-family: Ubunutu, sans-serif;
}







footer {
    @include row-layout-centered;

    width:100%;
    padding:3rem 1rem;
    gap:2rem;
    align-items: center;
    background-color: $main-color;
    color:$text-color;

    ul {
        @include reset-list;

        a {
            color:$text-color;
        }
    }
}

.btn {
    padding:0.25rem 0.5rem;
    transition:0.3s;
    border-radius:5px;
    border:none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition:0.3s;
}

.btn-primary {
    transition:0.3s;
    color:black;
    
    background-color: $inverted-color;
    
}

.btn-primary:hover {
    cursor: pointer;
    
    background-color: rgb(255, 166, 0);
}

.btn-danger {
    color:white;
    background-color: rgb(192, 0, 0);
}

.btn-danger:hover {
    background-color: rgb(109, 0, 0);
}

.btn-success {
    background-color: rgb(0, 177, 0);
}

.btn-success:hover {
    background-color: green;
}

.main {
    @include col-layout-centered;
    padding:5rem 0.5rem;
    min-height:calc(90vh - 10rem);
}

#category-main {
    @include row-layout-centered;
    padding:5rem 0.5rem;
    gap:3rem;
    min-height:calc(90vh - 10rem);

    aside {
        padding:1rem;
        border:1px solid black;
    }

    .item-container {
        @include row-layout-wrap;
        gap:3rem;

        .item {
            @include col-layout-centered;
            border:2px solid black;
            padding:2rem;
            border-radius: 5px;
            transition: 0.3s;

        }
        .item:hover {
            cursor: pointer;
            transition: 0.3s;
            transform: translateY(-3px);
        }
    }
}

#product-detail-main {
    @include col-layout-centered;

    #product-overview {
        @include row-layout;

        #product-images {
            @include col-layout-centered;
        }

        #product-details {
            @include col-layout-centered;

        }
    }

    #review-summary {
        @include row-layout;

    }

    #review-list {
        @include col-layout-centered;


    }
    
}

#address-step-main {
    

    .form-user-address-container {


        input[type="radio"] {
            display: none;

        }

        input[type="radio"]:checked + .address-option {
            border:2px solid blue;
        }
    }
}

.hidden {
    display:none;
}

