{% extends "../base.html" %}

{% block content %}

<main class="main g-2">
    <section id="home-header">
        <img src="/media/logo/pcwarerus-banner.png" alt="PCwareRUs banner">
    </section>
    <section id="newest-products">
        <h2>Check out our newest products</h2>
        <div class="item-container">

            {% for product in product_newest_list %}
                <a href="{% url 'product_detail' category_handle=product.category.category_handle product_handle=product.product_handle %}" class="product-item">
                    <img src="{{ product.image.url }}" alt="Product image for {{ product.product_name }}">
                    <div class="item-description">
                        <p>{{ product.product_name }}</p>
                        <p>$ {{ product.price }}</p>
                    </div>
                    
                </a>
            {% endfor %}
        </div>
        
    </section>
    <section id="cheapest-products" class="">
        <h2>Get the best price for your product</h2>
        <div class="item-container">
            {% for product in product_best_price %}
                <a href="{% url 'product_detail' category_handle=product.category.category_handle product_handle=product.product_handle %}" class="product-item">
                    <img src="{{ product.image.url }}" alt="Product image for {{ product.product_name }}">
                    <div class="item-description">
                        <p>{{ product.product_name }}</p>
                        <p>$ {{ product.price }}</p>
                    </div>
                    
                </a>
            {% endfor %}
        </div>
    </section>
</main>

{%endblock%}