{% extends "base.html" %}

{% block content %}


<main id="product-detail-main" class="main">
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h5 class="">{{ product.product_name }}</h5>
                    <p class="mb-0 text-left">${{ product.price }}</p>
                    {% if request.user.is_staff %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.product_description }}</p>
                    <div id="product-details-cart">
                        <button class="btn btn-primary" onclick="addToCart({{product.id}}, {{1}})">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
    </section>
    <section class="container">
        <div class="card d-flex justify-content-around align-items-center flex-row g-3 p-4">
            <div class="d-flex align-items-center gap-2">
                {% if rating == None %} 
                    <h3>No rating</h3>
                {% else %}
                    <i class="fa-solid fa-star"></i>
                    <h2>{{ rating }}</h2>
                {% endif %}
            </div>
            <div>
                <h2>{{ reviews|length }} - Reviews</h2>
            </div>
        </div>
        
    </section>
    <section id="review-add">
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'add_review' product.id %}">Write a review</a>
        {% endif %}
    </section>
    <section id="review-list" class="container">
        {% if review.count == 0 %}
            <p class="row-centered">No review so far, be the first to review!</p>
        {% else %}
            {% for review in reviews %}
                <!-- Review -->
                <div class="review card shadow-sm p-3">
                    <!-- Review top (including edit)-->
                    <div class="card-title d-flex justify-content-between px-3 py-1">
                        <!-- User display -->
                        <div class="row-aligned text-reset text-decoration-none gap-3 p-2">
                            {% if review.user.user_picture %}
                                <img class="profile-icon" src="{{ review.user.user_picture }}" alt="Profile picture">
                            {% else %}
                                <i class="fa-solid fa-user fa-2x"></i>
                            {% endif %}
                            <h4>{{ review.user.username }}</h4>
                        </div>

                        <!-- Edit button -->
                        <div>
                            {% if user == review.user %}
                                <a class="btn btn-primary" href="{% url 'edit_review' review.id %}">Edit</a>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Post center date and text -->
                    <p class="px-4">Reviewed at: {{ review.review_created_at }}</p>
                    <p class="card-text px-4">{{ review.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
</main>





{% endblock %}