{% extends "base.html" %}

{% block content %}


<main id="product-detail-main" class="main">
    <section id="product-overview">
        <div id="product-images">
            <img src="{{ product.image.url }}" alt="Product image">
        </div>
        <div id="product-details">
            <div id="product-details-text">
                <h1>{{ product.product_name }}</h1>
                <p>{{ product.product_description }}</p>
            </div>
            <div id="product-details-cart">
                <p>{{ product.price }} USD</p>
                <button class="btn btn-primary" onclick="addToCart({{product.id}}, {{1}})">
                    Add to cart
                </button>
            </div>
        </div>
    </section>
    <section id="review-summary">
        <div>
            <i class="fa-solid fa-star"></i>
            <h2>4</h2>
        </div>
        <div>
            <h2>{{ reviews|length }} - Reviews</h2>
        </div>
    </section>
    <section id="review-add">
        <form action="">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button type="submit">Post review</button>
        </form>
    </section>
    <section id="review-list">
        {% for review in reviews %}
            <div class="review">

            </div>
            {{ review.content }}
        {% endfor%}
    </section>
</main>





{% endblock %}