@import url("reset.css");
@import url("header.css");
@import url("footer.css");
@import url("cart.css");

:root {
    --text-color: #F2F7FF;
    --inverted-text-color: black;
    --main-color: #0B409C;
    --secondary-color: #10316B;
    --inverted-color: #FDBE34;
}





a {
  text-decoration: none;
  color: inherit; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0.5rem;
  min-height: calc(90vh - 10rem);
  width: clamp(0rem, 100vw, 80rem);
  gap: clamp(1rem, 5vw, 4rem); }

.text-main {
  max-width: 80rem; }

.address-fields .form-group {
  margin: 1rem; }

.progresses {
  position: relative;
  width: clamp(10rem, 90vw, 80rem);
  margin: auto; }

.progresses ul {
  list-style: none;
  /* border: 1px solid red; */
  padding: 0; }

.progresses ul li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 3px;
  background-color: #f0f0f0;
  position: relative; }

.progresses ul li.blue {
  background-color: #0B409C; }

.progresses ul li.green {
  background-color: green; }

.progresses ul li::after {
  position: absolute;
  top: 35px;
  left: -4rem;
  width: 10rem;
  text-align: center; }

#step-1::after {
  content: "Cart overview"; }

#step-2::after {
  content: "Addresses"; }

#step-3::after {
  content: "Payment"; }

.progresses .progress {
  height: 0.8rem;
  width: 100%;
  top: 33px;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 10px; }

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem; 
}

.item-container .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    width: 15rem;
    color: black;
    text-decoration: none;
    gap: 1rem; 
}

.item-container .product-item .item-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; 
}

.item-container .product-item img {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; 
}

.item-container .product-item:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px); 
}

#category-main {
  display: flex;
  justify-content: center;
  padding: 5rem 0.5rem;
  gap: 3rem;
  min-height: calc(90vh - 10rem); 
}
  
#category-main aside {
    padding: 1rem;
    border: 1px solid black; 
}

#address-step-main .form-user-address-container input[type="radio"] {
  display: none; }

#address-step-main .form-user-address-container input[type="radio"]:checked + .address-option {
  border: 2px solid blue; }

.hidden {
  display: none; }

#user-review img {
    width:clamp(3rem, 25vw, 10rem);
}