{% extends "base.html" %}

{% block content %}

<main class="main">
    <article>
        <h1>{{ category.category_name }}</h1>
        <p>{{ category.category_description }}</p>

        <div class="item-container">
            {% for product in products %}
                <a href="{% url 'product_detail' category_handle=product.category.category_handle product_handle=product.product_handle %}" class="product-item">
                    <img src="{{ product.image.url }}" alt="Product image for {{ product.product_name }}">
                    <div class="item-description">
                        <p>{{ product.product_name }}</p>
                        <p>$ {{ product.price }}</p>
                    </div>
                    
                </a>
            {% endfor %}
        </div>
    </article>
</main>

{% endblock %}