{% extends "base.html" %}

{% block content %}


<main class="main">
    <article>
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>

        <section class="item-container">
            {% for product in products %}
                <a href="{% url 'product_detail' category_handle=category.category_handle product_handle=product.product_handle %}" class="product-item card">
                    <img src="{{ product.image.url }}" alt="Product image for {{ product.prodcut_name }}" class="card-img-top">
                    <p class="card-body">
                        <h5>{{ product.product_name }}</h5>
                        <p>{{ product.price }}</p>
                    </p>
                    

                </a>
            {% endfor %}
        </section>
    </article>
    
</main>

{% endblock %}