<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCwareRUs</title>

    {% block meta %}
        <meta name="description" content="PCwareRUs - PC? Shop with Us!">
        <meta name="keywords" content="shop, pc parts, intel, amd, hardware, shipping, processor, graphics card, motherboard, buying, best price, pc, pc building, e-commerce, asus">
        <meta name="author" content="Robin Bosch">
    {% endblock %}

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}logo/pcwarerus-icon.png">

    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">

    <!-- Include Bootstrap CSS from BootstrapCDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body >
    {% load crispy_forms_tags %}
    {% block header %}
    <header>
        <section id="header-menu">
            <!-- Logo -->
            <a id="header-logo" href="{% url 'home' %}">
                <img src="{{ MEDIA_URL }}logo/pcwarerus-logo.png" alt="PCwareRUs logo">
            </a>
            <!-- User -->
            <div id="header-user">
                <!-- Cart btn -->
                <button class="btn btn-secondary cart-btn" aria-label="Toggle cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
                {% if request.user.is_staff %}
                    <a href="{% url 'add_product' %}" class="btn btn-success" aria-label="Add product">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                {% endif %}
                {% if request.user.is_authenticated %}
                {% if user.user_picture %}
                        <a href="{% url 'user_overview' %}" class="btn" aria-label="Visit own profile"><img class="profile-icon" src="{{ user.user_picture }}" alt="Profile picture"></a>
                    {% else %}
                        <a href="{% url 'user_overview' %}" class="btn" aria-label="Visit own profile"><i class="fa-solid fa-user fa-inverse fa-2x"></i></a>
                    {% endif %}
                    <a class="btn btn-primary" role="button" href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-warning" role="button" href="{% url 'account_login' %}">Login</a>
                    <a class="btn btn-warning" role="button" href="{% url 'account_signup' %}">Register</a>

                {% endif %}
                
            </div>
            <!-- Search (middle on larger screens) -->
            <form method="GET" action="{% url 'search' %}" id="header-search">
                <input type="text" name="query" id="query" class="search-input" aria-label="Search box">
                <button type="submit" class="search-btn" aria-label="Search button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </section>
        <!-- Category list -->
        <nav class="navbar navbar-dark navbar-expand-lg" id="category-links">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                {% for category in category_list %}
                    <li class="nav-item">
                        <a class="nav-link rounded-1" href="{% url 'category_detail' category.category_handle %}">{{ category.category_name }}</a>
                    </li>
                {% endfor %}
              </ul>
            </div>
          </nav>

        <!-- Cart -->
        <div id="cart" aria-busy="true">
            <div id="cart-header">
                <h2>Shopping cart</h2>
                <button id="close-cart-btn" class="btn btn-danger" aria-label="Close cart overlay">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            
            <div id="cart-content">
            {% block cart_content %}
                {% include 'cart/cart.html' %}
            {% endblock cart_content %}

            </div>
            <a href="{% url 'load_step' %}" class="btn btn-primary" aria-role="button">Checkout</a>
        </div>
        

    </header>
    {% endblock header %}

    
    {% if messages %}
        <div class="toast-container message-container position-fixed bottom-0 end-0 p-2">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'toasts/toast_success.html' %}
                    {% else %}
                        {% include 'toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Content Goes here -->
    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer class="d-flex flex-wrap">
        <section>
            <img src="{{ MEDIA_URL }}logo/pcwarerus-logo.png" alt="PCwareRUs logo">
        </section>
        <section>
            <ul>
                <li>
                    <a href="{% url 'privacy_policy' %}" class="text-decoration-none">Privacy Policy</a>
                </li>
                <li>
                    <a href="{% url 'conditions' %}" class="text-decoration-none">Conditions</a>
                </li>
            </ul>
        </section>
        <section>
            <a href="https://www.facebook.com/profile.php?id=100089887771680" target="_blank" rel="noreferrer" aria-label="Facebook button">
                <i class="fa-brands fa-facebook text-white fa-4x"></i>
            </a>
        </section>
        <section>
            <div id="mc_embed_signup">
                <form action="https://gmx.us8.list-manage.com/subscribe/post?u=f1cbd0b76219bc87340b3136b&amp;id=2106c4e680&amp;f_id=00c603e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <h2>Subscribe to our newsletter</h2>
                    <div class="mc-field-group d-flex flex-column p-3">
                        <label for="mce-EMAIL">Email Address:</label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response d-flex justify-content-center" id="mce-error-response" style="display:none"></div>
                        <div class="response d-flex justify-content-center" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f1cbd0b76219bc87340b3136b_2106c4e680" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot d-flex mt-2 justify-content-center">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-secondary">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </footer>
    {% endblock footer %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <form>
        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <!-- other fields and buttons -->
    </form>

    <!-- <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style> -->

    {% block postloadjs %}
    <script src="{% static 'script/cart.js' %}"></script>

    <!-- Load all toasts (messages) -->
    <script type="text/javascript">
        window.onload = function() {
            const toastElList = document.querySelectorAll('.toast')
            const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl).show())
        };

    </script>



    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}
    
</body>
</html>