<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCwareRUs</title>

    {% block meta %}
        <meta name="description" content="PCwareRUs - PC? Shop with Us!">
        <meta name="keywords" content="shop, pc parts, intel, amd, hardware, shipping, processor, graphics card, motherboard">
        <meta name="author" content="Robin Bosch">
    {% endblock %}

    {% load static %}
    <link rel="icon" type="image/x-icon" href="/media/logo/pcwarerus-icon.png">

    <!-- <link rel="stylesheet" href="{% static 'css/styles.css'%}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">

    <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'styles.scss' %}">



    <!-- Include Bootstrap CSS from BootstrapCDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body >
    {% load crispy_forms_tags %}
    {% block header %}
    <header>
        <section id="header-menu">
            <a id="header-logo" href="{% url 'home' %}">
                <img src="/media/logo/pcwarerus-logo.png" alt="PCwareRUs logo">
            </a>
            <div id="header-user">
                <button class="btn btn-primary cart-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>

                {% if request.user.is_authenticated %}
                {% if user.user_picture %}
                        <a href="{% url 'user_overview' %}" class="btn" aria-label="Visit own profile"><img class="profile-icon" src="{{ user.user_picture }}" alt="Profile picture"></a>
                    {% else %}
                        <a href="{% url 'user_overview' %}" class="btn" aria-label="Visit own profile"><i class="fa-solid fa-user fa-inverse fa-2x"></i></a>
                    {% endif %}
                    <a class="btn btn-primary" role="button" href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" role="button" href="{% url 'account_login' %}">Login</a>
                    <a class="btn btn-primary" role="button" href="{% url 'account_signup' %}">Register</a>
                {% endif %}
                
            </div>
            <div id="header-search">
                <input type="text" name="search" id="search" class="search-input">
                <button class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </section>
        <nav class="navbar navbar-dark navbar-expand-lg" id="category-links">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                {% for category in category_list %}
                    <li class="nav-item">
                        <a class="nav-link rounded-1" href="{% url 'category_detail' category.category_handle %}">{{ category.category_name }}</a>
                    </li>
                {% endfor %}
              </ul>
            </div>
          </nav>


        
        
        <div id="cart" aria-busy="true">
            <div id="cart-header">
                <h2>Shopping cart</h2>
                <button id="close-cart-btn" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            
            <div id="cart-content">
            {% block cart_content %}
                {% for item in cart_list %}
                    <div class="cart-item">
                        <a class="cart-item-overview" href="{% url 'product_detail' category_handle=item.category_handle product_handle=item.product_handle %}">
                            <img src="https://picsum.photos/200/200" alt="">
                            <h3>{{ item.product_name }}</h3>
                        </a>
                        <div class="cart-item-control">
                            <div class="cart-item-quantity">
                                <button class="cart-item-quantity-minus btn btn-danger" onclick="updateCart({{ item.product_id }}, {{ item.quantity}}-1)">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <input type="number" class="quantity-number" value="{{ item.quantity }}" readonly>
                                <button class="cart-item-quantity-plus btn btn-success" onclick="updateCart({{ item.product_id }}, {{ item.quantity}}+1)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <button class="btn btn-danger" onclick="removeFromCart({{ item.product_id }})">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                <p>{{ cart_info.total }}</p>
            {% endblock cart_content %}

            </div>
            <a href="{% url 'load_step' %}" class="btn btn-primary" aria-role="button">Checkout</a>
        </div>
        

    </header>
    {% endblock header %}

    
    {% if messages %}
        <div class="toast-container message-container position-fixed bottom-0 end-0 p-2">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'toasts/toast_success.html' %}
                    {% else %}
                        {% include 'toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Content Goes here -->
    {% block content %}
    {% endblock content %}

    <footer>
        <section>
            <h1>PCwareRUs</h1>
        </section>
        <section>
            <ul>
                <li>
                    <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                </li>
                <li>
                    <a href="{% url 'conditions' %}">Conditions</a>
                </li>
                <li>
                    <a href="{% url 'newsletter' %}">Newsletter</a>
                </li>
            </ul>
        </section>
        <section>
            <a href="https://www.facebook.com/profile.php?id=100089887771680" target="_blank">
                <i class="fa-brands fa-facebook text-white"></i>
            </a>
        </section>
    </footer>

    <form>
        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <!-- other fields and buttons -->
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    {% block postloadjs %}
    <script src="{% static 'script/cart.js' %}"></script>

    <!-- Load all toasts (messages) -->
    <script type="text/javascript">
        window.onload = function() {
            const toastElList = document.querySelectorAll('.toast')
            const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl).show())
        };

    </script>
    {% endblock %}
    
</body>
</html>