<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniTwitter</title>

    <meta name="description" content="MiniTwitter, post your thoughts!">
    <meta name="keywords" content="twitter, posting, thoughts, voting, login, commenting">
    <meta name="author" content="Robin Bosch">

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/paper-plane-solid.svg' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/styles.css'%}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">

    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'sass/styles.scss' %}">

    <!-- Include Bootstrap CSS from BootstrapCDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    {% block header %}
        <header class="">
            <section class="header-menu" style="display:flex;">
                <h2>PCwareRUs</h2>
                <div style="order:3">
                    <span>Cart</span>
                    <span>Profile</span>
                    <span>Logout</span>
                </div>
                <h2 >Search</h2>
            </section>
            <section>
                <h2>Categories</h2>
                <nav>
                    <h3></h3>
                </nav>
            </section>
        </header>
    {% endblock header %}

    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    {% if success_message %}
        <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}

    <!-- Content Goes here -->
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>