{% extends "base.html" %}

{% block content %}

<main class="main">
    <h1>Edit Address</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="full_name">Full name: </label>
            <input type="text" class="form-control" id="full_name" name="full_name" value="{{ address.full_name }}" required>
          </div>
        <div class="form-group">
          <label for="street">Street: </label>
          <input type="text" class="form-control" id="street" name="street" value="{{ address.street }}" required>
        </div>
        <div class="form-group">
          <label for="city">City: </label>
          <input type="text" class="form-control" id="city" name="city" value="{{ address.city }}" required>
        </div>
        <div class="form-group">
          <label for="state">State: </label>
          <input type="text" class="form-control" id="state" name="state" value="{{ address.state }}" required>
        </div>
        <div class="form-group">
          <label for="zip">Zip: </label>
          <input type="text" class="form-control" id="zip" name="zip" value="{{ address.zip }}" required>
        </div>
        <div class="form-group">
          <label for="country">Country: </label>
          <input type="text" class="form-control" id="country" name="country" value="{{ address.country }}" required>
        </div>
        <div class="form-group mt-2">
            <a href="{% url 'user_overview' %}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    
</main>

{% endblock %}