{% extends "base.html" %}

{% block content %}


<main class="main">
    <section>
        {% if user.user_picture %}
            <img class="profile-icon" src="{{ user.user_picture }}" alt="Profile picture"/>
        {% else %}
            <i class="fa-solid fa-user fa-inverse fa-2x"></i>
        {% endif %}
        <h2>{{ user.username }}</h2>
        <p>{{ user.first_name }}{{ user.last_name }}</p>
        <p>{{ user.date_joined }}</p>
    </section>
    <section>
        <div>
            <h2>Addresses</h2>
            {% for address in address_list %}
                <div>
                    <p>{{ address.street }}</p>
                    <p>{{ address.zip }}, {{ address.city }}</p>
                    <p>{{ address.state }}</p>
                    <p>{{ address.country }}</p>

                    <a href="{% url 'edit_address' address.id %}" class="btn btn-primary" aria-label="Edit address">Edit address</a>
                    <form action="{% url 'delete_address' address.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete address" class="btn btn-primary"/>
                    </form>
                </div>
                
            {% endfor %}
            <a href="{% url 'add_address' %}" class="btn btn-primary" aria-label="Add address">Add address</a>
        </div>
        <div>
            <h2>View order</h2>
        </div>
    </section>
    <section>
        <div>
            <h2></h2>
        </div>
        <div>
            <h2></h2>
        </div>
    </section>
</main>





{% endblock %}