{% extends "base.html" %}

{% block content %}


<main class="main d-flex flex-column mt-5 gap-5 mb-5">
    <section class="container d-flex flex-column card p-3">
        <div class="d-flex gap-2">
            {% if user.user_picture %}
                <img class="profile-icon" src="{{ user.user_picture }}" alt="Profile picture"/>
            {% else %}
                <i class="fa-solid fa-user fa-2x"></i>
            {% endif %}
            <h2>{{ user.username }}</h2>
        </div>
        <p>Joined at: {{ user.date_joined }}</p>
    </section>
    <section>
        <div>
            <h2>Addresses</h2>
            <div class="container d-flex mb-4">
            {% for address in address_list %}
                <div class="card p-4">
                    <div class="d-flex flex-column ">
                        <span>{{ address.full_name }}</span>
                        <span>{{ address.street }}</span>
                        <span>{{ address.zip }}, {{ address.city }}</span>
                        <span>{{ address.state }}</span>
                        <span>{{ address.country }}</span>
                    </div>
                    

                    <div class="d-flex justify-content-between gap-3 mt-2">
                        <a href="{% url 'edit_address' address.id %}" class="btn btn-primary" aria-label="Edit address">Edit address</a>
                        <form action="{% url 'delete_address' address.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete address" class="btn btn-primary"/>
                        </form>
                    </div>
                    
                </div>
            </div>    
            {% endfor %}
            <a href="{% url 'add_address' %}" class="btn btn-primary" aria-label="Add address">Add address</a>
        </div>
    </section>
    <section>
        <h2>Yours orders</h2>
        {% for order in order_list %}
            <div class="card mb-2 d-flex flex-wrap">
                <div class="d-flex flex-wrap justify-content-around p-2">
                    <div class="d-flex flex-column p-2">
                        <span>Order information:</span>
                        <span>Order number: {{ order.order_id }}</span>
                        <span>Order date: {{ order.ordered_at }}</span>
                        <span>Total: ${{ order.total }}</span>
                        
                    </div>

                    <div class="d-flex flex-column p-2">
                        <span>Billed to:</span>
                        <span>{{ order.billing_address.full_name }}</span>
                        <span>{{ order.billing_address.street }}</span>
                        <span>{{ order.billing_address.zip }}, {{ order.billing_address.city }}</span>
                        <span>{{ order.billing_address.state }}</span>
                        <span>{{ order.billing_address.country }}</span>
                    </div>
                    
                    <div class="d-flex flex-column p-2">
                        <span>Delivered to:</span>
                        <span>{{ order.delivery_address.full_name }}</span>
                        <span>{{ order.delivery_address.street }}</span>
                        <span>{{ order.delivery_address.zip }}, {{ order.delivery_address.city }}</span>
                        <span>{{ order.delivery_address.state }}</span>
                        <span>{{ order.delivery_address.country }}</span>
                    </div>

                </div>
            </div>
            
        {% endfor %}
    </section>
    <section id="user-review" class="container">
        <h2>Yours reviews</h2>
        {% for review in review_list %}
            <!-- Review -->
            <div class="review card shadow-sm p-3">
                <!-- Review top (including edit)-->
                <div class="card-title d-flex justify-content-between px-3 py-1">
                    <!-- Product display -->
                    <div class="d-flex text-reset text-decoration-none gap-3 p-2 flex-wrap">
                        <img src="{{ review.product.image.url }}" alt="Image for {{ review.product.product_name }}">
                        <h6>{{ review.product.product_name }}</h6>
                    </div>

                    <!-- Edit button -->
                    <div>
                        {% if user == review.user %}
                            <a class="btn btn-primary" href="{% url 'edit_review' review.id %}">Edit</a>
                        {% endif %}
                    </div>
                </div>

                <!-- Review center date and text -->
                <p class="px-4">Reviewed at: <br>{{ review.review_created_at }}</p>
                <p class="card-text px-4">Content: <br>{{ review.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</main>





{% endblock %}