{% extends "base.html" %}

{% block content %}

<main id="address-step-main" class="main">
    
    <h1>Address</h1>
    
    <form method="post" action="{% url 'confirm_address' %}">
        {% csrf_token %}
        <fieldset>
            <h2>Your delivery address</h2>
            <div>
                <label>
                    <input type="radio" name="delivery_address" value="custom"/>Use custom address
                </label>
              </div>
            <div class="form-user-address-container">
                {% for address in address_list %}
                    <div class="address-option-container">
                        <label for="address-option-{{ address.id }}">
                            <input type="radio" name="delivery_address" id="address-option-{{ address.id }}" value="{{ address.id }}">
                            <div class="address-option">
                                <p>{{ address.street }}</p>
                                <p>{{ address.zip }}, {{ address.city }}</p>
                                <p>{{ address.state }}</p>
                                <p>{{ address.country }}</p>
                            </div>
                            
                        </label>
                    </div>
                    
                {% endfor %}
            </div>

            <div class="address-fields">
                <div class="form-group">
                    <label for="delivery_street">Street: </label>
                    <input type="text" class="form-control" id="delivery_street" name="custom_delivery_address[street]">
                </div>
                  <div class="form-group">
                    <label for="delivery_city">City: </label>
                    <input type="text" class="form-control" id="delivery_city" name="custom_delivery_address[city]">
                </div>
                <div class="form-group">
                    <label for="delivery_state">State: </label>
                    <input type="text" class="form-control" id="delivery_state" name="custom_delivery_address[state]">
                </div>
                <div class="form-group">
                    <label for="delivery_zip">Zip: </label>
                    <input type="text" class="form-control" id="delivery_zip" name="custom_delivery_address[zip]">
                  </div>
                  <div class="form-group">
                    <label for="delivery_country">Country: </label>
                    <input type="text" class="form-control" id="delivery_country" name="custom_country_address">
                </div>

            </div>

            
            <div>
                <input type="checkbox" name="same_address" id="show-fields" value="1" checked>
                <label for="show-fields">Use same address for billing</label>
            </div>
        </fieldset>
        <fieldset id="delivery-address-fieldset" class="hidden">
            
            <div>
                {% for address in address_list %}
                    <label>
                        <input type="radio" name="billing_address" value="{{ address.id }}">
                        <p>{{ address.street }}</p>
                        <p>{{ address.zip }}, {{ address.city }}</p>
                        <p>{{ address.state }}</p>
                        <p>{{ address.country }}</p>
                    </label>
                {% endfor %}
            </div>
            <div>
                <label>
                    <input type="radio" name="billing_address" value="custom">Use custom address
                </label>
              </div>
            <div class="form-group">
                <label for="billing_street">Street: </label>
                <input type="text" class="form-control" id="billing_street" name="custom_billing_address[street]">
              </div>
              <div class="form-group">
                <label for="billing_city">City: </label>
                <input type="text" class="form-control" id="billing_city" name="custom_billing_address[city]">
              </div>
              <div class="form-group">
                <label for="billing_state">State: </label>
                <input type="text" class="form-control" id="billing_state" name="custom_billing_address[state]">
              </div>
              <div class="form-group">
                <label for="billing_zip">Zip: </label>
                <input type="text" class="form-control" id="billing_zip" name="custom_billing_address[zip]">
              </div>
              <div class="form-group">
                <label for="billing_country">Country: </label>
                <input type="text" class="form-control" id="billing_country" name="custom_billing_address[country]">
              </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Confirm addresses</button>
      </form>
    
    <div>
        <a href="{% url 'cancel_step' %}" class="btn btn-primary">Cancel</a>
        <a href="{% url 'previous_step' %}" class="btn btn-primary">Previous</a>
        <a href="{% url 'next_step' %}" class="btn btn-primary">Next</a>
    </div>
    
</main>

<script>
    document.querySelector("#show-fields").addEventListener("click", function() {
        document.querySelector("#delivery-address-fieldset").classList.toggle("hidden")
    })
</script>

{% endblock %}