{% extends "base.html" %}

{% block content %}

<main class="main">
    <div class="progresses py-4">
        <ul class="d-flex align-items-center justify-content-between">
            <li id="step-1" class="blue"></li>
            <li id="step-2"></li>
            <li id="step-3"></li>
        </ul>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
    <h1>Cart overview</h1>
    <div class="item-container">
        {% for product in cart_list %}
            <a class="product-item">
                <img src="{{ product.product_image }}" alt="Product image for {{ product.product_name }}">
                <div class="item-description">
                    <p>{{ product.product_name }}</p>
                    <p>Quantity: {{ product.quantity }}</p>
                </div>
                
            </a>
        {% endfor %}
    </div>
    <div>
        <p>Delivery fee: ${{ cart_info.delivery_fee }}</p>
        <p>Sub total: ${{ cart_info.sub_total }}</p>
        <h5>Total: ${{ cart_info.total }}</h5>
    </div>

    </div>
    
    <div>
        <a href="{% url 'cancel_step' %}" class="btn btn-danger">Cancel</a>
        <a href="{% url 'next_step' %}" class="btn btn-primary">Next</a>
    </div>
    
</main>

{% endblock %}